* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin: 2rem 0 0 0;
  font-size: 3rem;
}

.status-wrapper {
  width: 80vw;
}

#status {
  font-size: 1.5rem;
}

#notes {
  width: 80vw;
  resize: none;
  margin: 0 auto;
  min-height: 5000px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid black;
}

#notes:focus {
  outline: none;
  border: 2px solid black;
}